<div class="debug-panel-header"><?=_('Debug mode is enabled.');?> <a href="javascript:elementHideShow('debug-panel')"><?=_('Show / Hide Panel');?></a></div>
<div class="debug-panel-contents animated fadeIn" id="debug-panel" style="display:none;">
	<?php
		echo "<h3>Server Variables</h3>";
		dump_array($_SERVER);
	?>
	<?php
		echo "<h3>Session Variables</h3>";
		dump_array($_SESSION);
	?>
	<?php
		echo "<h3>POST Variables</h3>";
		dump_array($_POST);
	?>
	<?php
		echo "<h3>GET Variables</h3>";
		dump_array($_GET);
	?>
</div>